atomicwrites==1.4.0
attrs==20.2.0
colorama==0.4.4
ftputil==4.0.0
importlib-metadata==2.0.0
iniconfig==1.1.1
jsonpickle==1.4.1
packaging==20.4
pluggy==0.13.1
pony==0.7.14
py==1.9.0
PyMySQL==0.10.1
pyparsing==2.4.7
pytest==6.1.1
selenium==3.141.0
six==1.15.0
suds-jurko==0.6
toml==0.10.1
urllib3==1.25.11
zipp==3.3.2
